In [50]:
import pandas as pd
import numpy as np
import scipy as sp
import sklearn as sk
import tournamentGameByGameCleaning as tGGC
import joinFunc as jf

In [51]:
tournamentGameByGame = tGGC.getTournamentGameByGame()
tournamentGameByGame.describe()

              Year       Seed1       Seed2       Round      spread         id
count   441.000000  441.000000  441.000000  441.000000  441.000000  441.00000
mean   2016.000000    4.784580    8.777778    0.904762    4.877551  220.00000
std       2.002271    3.220155    4.795884    1.192781   14.052611  127.44999
min    2013.000000    1.000000    1.000000    0.000000  -29.000000    0.00000
25%    2014.000000    2.000000    4.000000    0.000000   -4.000000  110.00000
50%    2016.000000    5.000000    9.000000    0.000000    5.000000  220.00000
75%    2018.000000    7.000000   13.000000    1.000000   14.000000  330.00000
max    2019.000000   16.000000   16.000000    5.000000   47.000000  440.00000

In [3]:
tournamentGameByGame

     Year       Team1  Seed1           Team2  Seed2  Round  spread winner   id
0    2013     indiana      1   james madison     16      0      21  Team1    0
1    2013    nc state      8          temple      9      0      -4  Team2    1
2    2013        unlv      5      california     12      0      -3  Team2    2
3    2013    syracuse      4         montana     13      0      47  Team1    3
4    2013      butler      6        bucknell     11      0      12  Team1    4
..    ...         ...    ...             ...    ...    ...     ...    ...  ...
436  2019      purdue      3       tennessee      2      2       5  Team1  436
437  2019    virginia      1          purdue      3      3       5  Team1  437
438  2019    virginia      1          auburn      5      4       1  Team1  438
439  2019  texas tech      3  michigan state      2      4      10  Team1  439
440  2019    virginia      1      texas tech      3      5       8  Team1  440

[441 rows x 9 columns]

In [64]:
prevTournamentStats = pd.read_csv('March Madness Data/Historical Data/average_data.csv')
#prevTournamentStats = prevTournamentStats.drop(['TEAM.1', 'ROUND', 'SEED'], axis=1)
prevTournamentStats

,YEAR,SEED,TEAM,ROUND,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,BARTTORVIK ADJUSTED OFFENSE,...,3PT RATE DEFENSE,OP ASSIST %,OP O REB %,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE
0,2013,9.000000,oregon,64.000000,16.700000,119.300000,102.600000,64.900000,16.600000,117.800000,...,35.300000,52.900000,31.200000,67.700000,9.700000,16.400000,0.800000,58.060000,1.130000,1.065000
1,2013,13.500000,montana,64.000000,8.200000,105.100000,96.950000,62.650000,5.000000,102.100000,...,29.600000,44.700000,30.550000,71.100000,8.750000,21.000000,-3.150000,74.140000,1.079500,0.955000
2,2013,10.000000,virginia,64.000000,17.400000,106.200000,88.800000,58.400000,17.000000,104.300000,...,32.000000,42.600000,25.400000,72.100000,7.000000,21.100000,2.000000,70.970000,1.029000,0.876000
3,2013,9.500000,murray state,32.000000,14.850000,109.600000,94.750000,64.950000,12.200000,106.850000,...,28.250000,48.650000,34.050000,63.100000,7.900000,24.200000,1.900000,91.965000,1.118000,0.917500
4,2013,16.000000,hampton,64.000000,-3.800000,93.900000,97.700000,66.600000,-4.600000,92.700000,...,30.900000,46.100000,36.000000,70.500000,9.000000,23.100000,-5.600000,74.190000,0.980000,0.907000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,2019,8.252212,abilene christian,40.067478,16.002874,112.194953,96.189423,66.117970,15.784121,111.200936,...,34.670354,50.761173,29.261615,67.472235,8.619027,19.613827,1.913496,72.889159,1.090898,0.971950
1270,2019,4.714286,florida,18.857143,22.814286,116.100000,93.271429,63.942857,23.542857,115.785714,...,32.328571,48.157143,30.185714,65.828571,8.685714,20.728571,4.557143,74.648571,1.113429,0.952286
1271,2019,13.200000,stephen f. austin,51.200000,10.300000,107.980000,97.680000,65.420000,8.880000,105.940000,...,30.180000,50.020000,29.100000,66.220000,9.080000,24.480000,-0.540000,83.286000,1.104600,0.936000
1272,2019,7.666667,seton hall,53.333333,16.300000,112.500000,96.233333,68.700000,17.000000,112.033333,...,34.933333,49.533333,28.200000,65.166667,8.766667,18.233333,3.500000,69.006667,1.070667,0.996333
1273,2019,7.000000,san diego state,41.142857,17.742857,109.300000,91.542857,63.871429,16.357143,107.657143,...,33.728571,52.271429,28.857143,65.085714,8.928571,19.928571,2.728571,77.518571,1.061000,0.929429

In [66]:
prevTournamentCols = list(prevTournamentStats.columns)
prevTournamentCols.remove('TEAM')
prevTournamentCols.remove('YEAR')
prevTournamentCols

['SEED',
 'ROUND',
 'KENPOM ADJUSTED EFFICIENCY',
 'KENPOM ADJUSTED OFFENSE',
 'KENPOM ADJUSTED DEFENSE',
 'KENPOM ADJUSTED TEMPO',
 'BARTTORVIK ADJUSTED EFFICIENCY',
 'BARTTORVIK ADJUSTED OFFENSE',
 'BARTTORVIK ADJUSTED DEFENSE',
 'BARTHAG',
 'ELITE SOS',
 'BARTTORVIK ADJUSTED TEMPO',
 '2PT %',
 '3PT %',
 'FREE THROW %',
 'EFG %',
 'FREE THROW RATE',
 '3PT RATE',
 'ASSIST %',
 'OFFENSIVE REBOUND %',
 'DEFENSIVE REBOUND %',
 'BLOCK %',
 'TURNOVER %',
 '2PT % DEFENSE',
 '3PT % DEFENSE',
 'FREE THROW % DEFENSE',
 'EFG % DEFENSE',
 'FREE THROW RATE DEFENSE',
 '3PT RATE DEFENSE',
 'OP ASSIST %',
 'OP O REB %',
 'OP D REB %',
 'BLOCKED %',
 'TURNOVER % DEFENSE',
 'WINS ABOVE BUBBLE',
 'WIN %',
 'POINTS PER POSSESSION OFFENSE',
 'POINTS PER POSSESSION DEFENSE']

In [67]:
tournamentGameByGame = jf.joinCols(prevTournamentCols, tournamentGameByGame, prevTournamentStats, 'TEAM', 'YEAR')
tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,SEED Team1,...,TURNOVER % DEFENSE Team1,TURNOVER % DEFENSE Team2,WINS ABOVE BUBBLE Team1,WINS ABOVE BUBBLE Team2,WIN % Team1,WIN % Team2,POINTS PER POSSESSION OFFENSE Team1,POINTS PER POSSESSION OFFENSE Team2,POINTS PER POSSESSION DEFENSE Team1,POINTS PER POSSESSION DEFENSE Team2
0,2013,indiana,1,james madison,16,0,21,Team1,0,6.000000,...,20.100000,19.613827,5.350000,1.913496,76.9450,72.889159,1.129500,1.090898,0.965500,0.971950
1,2013,nc state,8,temple,9,0,-4,Team2,1,11.000000,...,18.400000,18.980000,0.500000,1.880000,64.7100,74.080000,1.077000,1.068000,0.999000,0.968000
2,2013,unlv,5,california,12,0,-3,Team2,2,7.500000,...,22.300000,19.000000,2.200000,2.233333,75.7825,70.393333,1.067000,1.110667,0.936750,0.981000
3,2013,syracuse,4,montana,13,0,47,Team1,3,2.000000,...,22.000000,21.000000,7.625000,-3.150000,83.2750,74.140000,1.118750,1.079500,0.947500,0.955000
4,2013,butler,6,bucknell,11,0,12,Team1,4,7.250000,...,20.950000,18.000000,2.800000,-2.200000,83.1075,75.760000,1.092500,1.065000,0.946750,0.955000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,5.333333,...,20.111111,21.333333,4.666667,3.333333,75.0300,70.456667,1.098000,1.086167,0.945667,0.973500
437,2019,virginia,1,purdue,3,3,5,Team1,437,3.333333,...,19.950000,20.111111,7.533333,4.666667,80.9050,75.030000,1.095333,1.098000,0.901667,0.945667
438,2019,virginia,1,auburn,5,4,1,Team1,438,3.333333,...,19.950000,20.800000,7.533333,4.300000,80.9050,78.130000,1.095333,1.135000,0.901667,0.998000
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,5.500000,...,20.450000,17.890909,3.000000,5.390909,67.0100,74.321818,1.081500,1.100545,0.986000,0.956091
440,2019,virginia,1,texas tech,3,5,8,Team1,440,3.333333,...,19.950000,20.450000,7.533333,3.000000,80.9050,67.010000,1.095333,1.081500,0.901667,0.986000

In [68]:
prevTournamentStats[prevTournamentStats['TEAM'] == 'butler']

,YEAR,SEED,TEAM,ROUND,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,BARTTORVIK ADJUSTED OFFENSE,...,3PT RATE DEFENSE,OP ASSIST %,OP O REB %,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE
51,2013,7.250000,butler,25.000000,17.625000,112.225000,94.600000,61.900000,17.100000,110.875000,...,33.600000,48.725000,28.925000,68.600000,9.575000,20.950000,2.800000,83.107500,1.092500,0.946750
233,2014,7.000000,butler,26.400000,17.060000,111.800000,94.740000,62.040000,16.880000,110.560000,...,33.040000,48.660000,28.340000,67.640000,9.480000,20.220000,3.180000,81.638000,1.085000,0.953400
415,2015,7.000000,butler,26.400000,17.060000,111.800000,94.740000,62.040000,16.880000,110.560000,...,33.040000,48.660000,28.340000,67.640000,9.480000,20.220000,3.180000,81.638000,1.085000,0.953400
597,2016,6.833333,butler,27.333333,17.483333,111.600000,94.100000,62.200000,17.316667,110.250000,...,33.183333,48.983333,27.766667,67.116667,9.733333,20.066667,3.233333,79.490000,1.081667,0.950667
779,2017,7.142857,butler,28.000000,17.242857,112.414286,95.157143,62.985714,17.542857,111.357143,...,33.714286,49.257143,27.771429,67.128571,9.871429,19.857143,3.071429,77.811429,1.090571,0.959286
961,2018,6.750000,butler,26.500000,17.700000,113.112500,95.400000,63.275000,17.962500,112.125000,...,34.200000,48.475000,27.775000,67.725000,9.612500,19.887500,3.375000,77.358750,1.095625,0.966125
1143,2019,7.111111,butler,27.111111,17.722222,113.411111,95.677778,63.777778,18.166667,112.466667,...,34.566667,48.700000,27.433333,68.277778,9.511111,19.877778,3.188889,75.497778,1.097000,0.972000

In [69]:
tournamentGameByGame[tournamentGameByGame['Team1'] == 'butler']

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,SEED Team1,...,TURNOVER % DEFENSE Team1,TURNOVER % DEFENSE Team2,WINS ABOVE BUBBLE Team1,WINS ABOVE BUBBLE Team2,WIN % Team1,WIN % Team2,POINTS PER POSSESSION OFFENSE Team1,POINTS PER POSSESSION OFFENSE Team2,POINTS PER POSSESSION DEFENSE Team1,POINTS PER POSSESSION DEFENSE Team2
4,2013,butler,6,bucknell,11,0,12,Team1,4,7.250000,...,20.950000,18.0000,2.800000,-2.200000,83.107500,75.760000,1.092500,1.065000,0.946750,0.955000
10,2013,butler,6,marquette,3,1,-2,Team2,10,7.250000,...,20.950000,22.5200,2.800000,3.200000,83.107500,69.646000,1.092500,1.104200,0.946750,0.969000
145,2015,butler,6,texas,11,0,8,Team1,145,7.000000,...,20.220000,19.1500,3.180000,4.133333,81.638000,71.823333,1.085000,1.090667,0.953400,0.964333
151,2015,butler,6,notre dame,3,1,-3,Team2,151,7.000000,...,20.220000,16.6000,3.180000,3.780000,81.638000,73.304000,1.085000,1.125200,0.953400,1.004600
285,2017,butler,4,winthrop,13,0,12,Team1,285,7.142857,...,19.857143,23.1000,3.071429,-6.450000,77.811429,60.595000,1.090571,0.972000,0.959286,0.918000
326,2018,butler,10,purdue,2,1,-3,Team2,326,6.750000,...,19.887500,20.4125,3.375000,4.300000,77.358750,74.115000,1.095625,1.087000,0.966125,0.944000

In [70]:
seasonStats = pd.read_csv('March Madness Data/Season_Stat_Data_13_21/ncaam_season_stats_13-19.csv')
seasonStats = seasonStats.drop(['Unnamed: 0'], axis=1)
seasonStats

,Team,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,Year,WIN_RATE
0,unc,ACC,123.3,94.9,0.9531,52.6,48.1,15.4,18.2,40.7,...,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2016,0.825000
1,wisconsin,B10,129.1,93.6,0.9758,54.8,47.7,12.4,15.8,32.1,...,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2015,0.900000
2,michigan,B10,114.4,90.4,0.9375,53.9,47.7,14.0,19.5,25.5,...,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2018,0.825000
3,texas tech,B12,115.2,85.2,0.9696,53.5,43.0,17.7,22.8,27.4,...,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2019,0.815789
4,gonzaga,WCC,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,...,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017,0.948718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,michigan state,B10,111.4,87.8,0.9392,50.6,44.5,20.8,19.2,36.1,...,36.6,32.4,50.4,44.3,34.1,30.1,64.4,6.7,2013,0.742857
1265,arizona,P12,114.4,92.2,0.9229,52.5,46.6,19.5,19.8,35.0,...,37.4,32.9,50.6,43.4,37.1,35.8,66.8,4.6,2013,0.771429
1266,oregon,P12,104.8,88.6,0.8728,49.3,46.4,21.4,22.0,35.8,...,38.4,33.3,49.1,44.9,33.3,33.4,69.2,2.9,2013,0.756757
1267,la salle,A10,112.0,96.2,0.8516,51.9,49.3,17.1,21.3,29.0,...,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,2013,0.705882
1268,florida gulf coast,ASun,103.4,96.3,0.6952,51.6,46.9,21.0,22.1,32.5,...,35.2,32.7,52.3,46.9,33.4,31.3,69.1,-4.0,2013,0.685714

In [71]:
seasonStatsCols = list(seasonStats.columns)
seasonStatsCols.remove('Team')
seasonStatsCols.remove('Year')
seasonStatsCols

['CONF',
 'ADJOE',
 'ADJDE',
 'BARTHAG',
 'EFG_O',
 'EFG_D',
 'TOR',
 'TORD',
 'ORB',
 'DRB',
 'FTR',
 'FTRD',
 '2P_O',
 '2P_D',
 '3P_O',
 '3P_D',
 'ADJ_T',
 'WAB',
 'WIN_RATE']

In [72]:
#Joining season stats
tournamentGameByGame = jf.joinCols(seasonStatsCols, tournamentGameByGame, seasonStats, 'Team', 'Year')
tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,SEED Team1,...,3P_O Team1,3P_O Team2,3P_D Team1,3P_D Team2,ADJ_T Team1,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2
0,2013,indiana,1,james madison,16,0,21,Team1,0,6.000000,...,40.3,33.6,30.4,34.7,67.8,64.2,7.8,-8.9,0.805556,0.583333
1,2013,nc state,8,temple,9,0,-4,Team2,1,11.000000,...,39.1,32.8,30.2,35.3,68.1,66.8,2.2,1.5,0.685714,0.705882
2,2013,unlv,5,california,12,0,-3,Team2,2,7.500000,...,32.6,30.2,31.6,33.6,69.3,66.5,1.8,0.5,0.705882,0.636364
3,2013,syracuse,4,montana,13,0,47,Team1,3,2.000000,...,33.4,36.4,28.4,33.3,65.4,63.9,5.1,-1.4,0.750000,0.766667
4,2013,butler,6,bucknell,11,0,12,Team1,4,7.250000,...,34.3,35.8,33.2,30.5,64.7,63.4,4.7,1.0,0.742857,0.818182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,5.333333,...,37.4,36.7,34.2,35.4,67.0,68.8,6.1,9.9,0.722222,0.861111
437,2019,virginia,1,purdue,3,3,5,Team1,437,3.333333,...,39.5,37.4,28.9,34.2,60.7,67.0,11.1,6.1,0.921053,0.722222
438,2019,virginia,1,auburn,5,4,1,Team1,438,3.333333,...,39.5,38.1,28.9,34.8,60.7,69.3,11.1,6.1,0.921053,0.769231
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,5.500000,...,36.5,37.8,29.7,31.6,67.5,68.6,7.0,10.7,0.815789,0.820513
440,2019,virginia,1,texas tech,3,5,8,Team1,440,3.333333,...,39.5,36.5,28.9,29.7,60.7,67.5,11.1,7.0,0.921053,0.815789

In [78]:
droppedNA = tournamentGameByGame.dropna()
droppedNA.describe()

,Year,Seed1,Seed2,Round,spread,id,SEED Team1,SEED Team2,ROUND Team1,ROUND Team2,...,3P_O Team1,3P_O Team2,3P_D Team1,3P_D Team2,ADJ_T Team1,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2
count,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,...,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000,439.000000
mean,2016.000000,4.767654,8.781321,0.906606,4.943052,219.911162,6.149956,7.933591,33.618438,40.528548,...,36.320501,35.996128,32.795900,33.129385,67.248292,67.505923,5.394989,1.686560,0.772016,0.726411
std,2.006838,3.208970,4.798927,1.194709,14.041814,127.733594,2.731868,3.586363,13.199588,15.465823,...,2.605209,2.517330,2.241031,2.010458,3.369768,3.113128,3.330929,4.911065,0.092635,0.097887
min,2013.000000,1.000000,1.000000,0.000000,-29.000000,0.000000,1.250000,1.250000,5.250000,5.250000,...,29.600000,29.600000,27.100000,27.900000,58.400000,58.400000,-4.900000,-14.500000,0.555556,0.375000
25%,2014.000000,2.000000,4.000000,0.000000,-4.000000,109.500000,4.333333,5.428571,25.443182,29.500000,...,34.500000,34.100000,31.350000,31.800000,64.850000,65.300000,2.750000,-1.250000,0.704293,0.657143
50%,2016.000000,5.000000,9.000000,0.000000,5.000000,219.000000,5.833333,7.400000,32.000000,40.067478,...,36.200000,36.000000,32.700000,33.200000,67.200000,67.200000,5.000000,1.600000,0.771429,0.727273
75%,2018.000000,7.000000,13.000000,1.000000,14.000000,330.500000,7.625000,9.000000,40.033739,53.333333,...,38.200000,37.800000,34.350000,34.350000,69.600000,69.750000,7.800000,5.850000,0.846154,0.794495
max,2019.000000,16.000000,16.000000,5.000000,47.000000,440.000000,16.000000,16.000000,68.000000,68.000000,...,43.400000,42.900000,38.000000,38.700000,76.000000,77.300000,13.100000,11.700000,0.974359,0.948718

In [80]:
droppedNA.to_csv('finalData.csv', index=0)

In [21]:
tournamentGameByGame.head()

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2,Team1int,Team2int,Conf Team1int,Conf Team2int,winner_num
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,...,64.2,7.8,-8.9,0.805556,0.583333,12,99,21,5,0
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,...,66.8,2.2,1.5,0.685714,0.705882,115,118,1,20,1
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,...,66.5,1.8,0.5,0.705882,0.636364,90,40,17,26,1
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,...,63.9,5.1,-1.4,0.750000,0.766667,125,163,30,22,0
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,63.4,4.7,1.0,0.742857,0.818182,114,38,20,24,0

In [23]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object and fit it to the column data
le = LabelEncoder()
le.fit(tournamentGameByGame[['Team1', 'Team2']].values.ravel())
tournamentGameByGame['Team1_num'] = le.transform(tournamentGameByGame['Team1'])
tournamentGameByGame['Team2_num'] = le.transform(tournamentGameByGame['Team2'])

In [32]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object and fit it to the column data
le = LabelEncoder()
le.fit(tournamentGameByGame[['CONF Team1', 'CONF Team2']].values.ravel())
tournamentGameByGame['CONF_Team1_num'] = le.transform(tournamentGameByGame['CONF Team1'])
tournamentGameByGame['CONF_Team2_num'] = le.transform(tournamentGameByGame['CONF Team2'])

In [33]:
team = set(list(tournamentGameByGame['Team1'].unique()) + list(tournamentGameByGame['Team2'].unique()))
num = [i for i in range(len(team))]
d = dict(zip(team,num))
d

{'vcu': 0,
 'winthrop': 1,
 'providence': 2,
 'rhode island': 3,
 'jacksonville state': 4,
 'stanford': 5,
 'etsu': 6,
 'texas tech': 7,
 'unc greensboro': 8,
 'weber state': 9,
 'unc': 10,
 'st. bonaventure': 11,
 'indiana': 12,
 'north carolina a&t': 13,
 'princeton': 14,
 'middle tennessee': 15,
 'louisville': 16,
 'oregon state': 17,
 'memphis': 18,
 'nevada': 19,
 "st. john's (ny)": 20,
 'kentucky': 21,
 'villanova': 22,
 'american': 23,
 'washington': 24,
 'stephen f. austin': 25,
 'florida state': 26,
 'wright state': 27,
 'buffalo': 28,
 'iowa state': 29,
 'belmont': 30,
 'mississippi state': 31,
 'pacific': 32,
 'northwestern state': 33,
 'marshall': 34,
 'fairleigh dickinson': 35,
 'bradley': 36,
 'hawaii': 37,
 'bucknell': 38,
 'michigan state': 39,
 'california': 40,
 'virginia tech': 41,
 'green bay': 42,
 'usc': 43,
 'baylor': 44,
 'southern': 45,
 'colorado state': 46,
 'georgetown': 47,
 "mount st. mary's": 48,
 'unc wilmington': 49,
 'college of charleston': 50,
 'valparaiso': 51,
 'seton hall': 52,
 'little rock': 53,
 'fresno state': 54,
 'georgia state': 55,
 'miami (fl)': 56,
 'oklahoma state': 57,
 'eastern kentucky': 58,
 'colorado': 59,
 'albany (ny)': 60,
 'arizona state': 61,
 'notre dame': 62,
 'vermont': 63,
 'delaware': 64,
 'manhattan': 65,
 'texas': 66,
 'creighton': 67,
 'ohio state': 68,
 'penn': 69,
 'old dominion': 70,
 'kansas': 71,
 'tcu': 72,
 'northern iowa': 73,
 'alabama-birmingham': 74,
 'unc asheville': 75,
 'dayton': 76,
 'xavier': 77,
 'michigan': 78,
 'uconn': 79,
 'western kentucky': 80,
 'south dakota state': 81,
 'uc-irvine': 82,
 'uc-davis': 83,
 'maryland': 84,
 'north dakota': 85,
 'alabama': 86,
 'gonzaga': 87,
 'louisiana': 88,
 'iona': 89,
 'unlv': 90,
 'wyoming': 91,
 'cal poly': 92,
 'cal state bakersfield': 93,
 'loyola (il)': 94,
 'oregon': 95,
 'arkansas': 96,
 'holy cross': 97,
 'robert morris': 98,
 'james madison': 99,
 'texas a&m': 100,
 'troy': 101,
 'cincinnati': 102,
 'ole miss': 103,
 'duke': 104,
 'stony brook': 105,
 'murray state': 106,
 'tennessee': 107,
 'abilene christian': 108,
 'auburn': 109,
 'eastern washington': 110,
 'northern kentucky': 111,
 'mercer': 112,
 'utah': 113,
 'butler': 114,
 'nc state': 115,
 'minnesota': 116,
 'houston': 117,
 'temple': 118,
 'new mexico': 119,
 'texas southern': 120,
 'georgia': 121,
 'purdue': 122,
 'harvard': 123,
 'ucf': 124,
 'syracuse': 125,
 'coastal carolina': 126,
 'umass': 127,
 'cal state fullerton': 128,
 'pitt': 129,
 'virginia': 130,
 'arizona': 131,
 'saint louis': 132,
 'oklahoma': 133,
 'umbc': 134,
 'northeastern': 135,
 'utah state': 136,
 'davidson': 137,
 "st. joseph's": 138,
 'gardner-webb': 139,
 'liberty': 140,
 'kent state': 141,
 'florida': 142,
 'new mexico state': 143,
 'chattanooga': 144,
 'yale': 145,
 'wisconsin': 146,
 'western michigan': 147,
 'milwaukee': 148,
 'nebraska': 149,
 'kansas state': 150,
 'hampton': 151,
 'tulsa': 152,
 'florida gulf coast': 153,
 'illinois': 154,
 "saint mary's": 155,
 'austin peay': 156,
 'northwestern': 157,
 'george washington': 158,
 'south carolina': 159,
 'marquette': 160,
 'wichita state': 161,
 'smu': 162,
 'montana': 163,
 'north carolina central': 164,
 'san diego state': 165,
 'iowa': 166,
 'missouri': 167,
 'ucla': 168,
 'radford': 169,
 'lsu': 170,
 'lipscomb': 171,
 'byu': 172,
 'akron': 173,
 'colgate': 174,
 'wofford': 175,
 'la salle': 176,
 'clemson': 177,
 'lafayette': 178,
 'west virginia': 179,
 'north dakota state': 180,
 'vanderbilt': 181}

In [32]:
int_team1 = []
int_team2 = []
for i, row in tournamentGameByGame.iterrows():
    int_team1.append(d[row['Team1']])
    int_team2.append(d[row['Team2']])
tournamentGameByGame['Team1int'] = int_team1
tournamentGameByGame['Team2int'] = int_team2
tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,3P_D Team1,3P_D Team2,ADJ_T Team1,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2,Team1int,Team2int
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,...,30.4,34.7,67.8,64.2,7.8,-8.9,0.805556,0.583333,12,99
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,...,30.2,35.3,68.1,66.8,2.2,1.5,0.685714,0.705882,115,118
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,...,31.6,33.6,69.3,66.5,1.8,0.5,0.705882,0.636364,90,40
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,...,28.4,33.3,65.4,63.9,5.1,-1.4,0.750000,0.766667,125,163
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,33.2,30.5,64.7,63.4,4.7,1.0,0.742857,0.818182,114,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,...,34.2,35.4,67.0,68.8,6.1,9.9,0.722222,0.861111,122,107
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,...,28.9,34.2,60.7,67.0,11.1,6.1,0.921053,0.722222,130,122
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,...,28.9,34.8,60.7,69.3,11.1,6.1,0.921053,0.769231,130,109
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,26.7,...,29.7,31.6,67.5,68.6,7.0,10.7,0.815789,0.820513,7,39
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,...,28.9,29.7,60.7,67.5,11.1,7.0,0.921053,0.815789,130,7

In [34]:
conf = set(list(tournamentGameByGame['CONF Team1'].unique()) + list(tournamentGameByGame['CONF Team2'].unique()))
numConf = [i for i in range(len(conf))]
d = dict(zip(conf,numConf))
d

{'MEAC': 0,
 'ACC': 1,
 'SB': 2,
 'OVC': 3,
 'Horz': 4,
 'CAA': 5,
 'Sum': 6,
 'NEC': 7,
 'MAC': 8,
 'ASun': 9,
 'SEC': 10,
 'Slnd': 11,
 'MAAC': 12,
 'AE': 13,
 'WCC': 14,
 'CUSA': 15,
 'MVC': 16,
 'MWC': 17,
 'Ivy': 18,
 'BSth': 19,
 'A10': 20,
 'B10': 21,
 'BSky': 22,
 'BW': 23,
 'Pat': 24,
 'WAC': 25,
 'P12': 26,
 None: 27,
 'SWAC': 28,
 'SC': 29,
 'BE': 30,
 'B12': 31,
 'Amer': 32}

In [40]:
int_confTeam1 = []
int_confTeam2 = []
for i, row in tournamentGameByGame.iterrows():
    int_confTeam1.append(d[row['CONF Team1']])
    int_confTeam2.append(d[row['CONF Team2']])
tournamentGameByGame['Conf Team1int'] = int_confTeam1
tournamentGameByGame['Conf Team2int'] = int_confTeam2
tournamentGameByGame['Conf Team1int']

0      21
1       1
2      17
3      30
4      20
       ..
436    21
437     1
438     1
439    31
440     1
Name: Conf Team1int, Length: 441, dtype: int64

In [29]:
tournamentGameByGame.head()

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,ADJ_T Team1,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2,Team1int,Team2int,Conf Team1int,Conf Team2int
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,...,67.8,64.2,7.8,-8.9,0.805556,0.583333,12,99,21,5
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,...,68.1,66.8,2.2,1.5,0.685714,0.705882,115,118,1,20
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,...,69.3,66.5,1.8,0.5,0.705882,0.636364,90,40,17,26
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,...,65.4,63.9,5.1,-1.4,0.750000,0.766667,125,163,30,22
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,64.7,63.4,4.7,1.0,0.742857,0.818182,114,38,20,24

In [21]:
dataTypes = tournamentGameByGame.dtypes
for i, data in dataTypes.iteritems():
    print(i, data)

Year int64
Team1 object
Seed1 int64
Team2 object
Seed2 int64
Round int64
spread int64
winner object
id int64
KENPOM ADJUSTED EFFICIENCY Team1 float64
KENPOM ADJUSTED EFFICIENCY Team2 float64
KENPOM ADJUSTED OFFENSE Team1 float64
KENPOM ADJUSTED OFFENSE Team2 float64
KENPOM ADJUSTED DEFENSE Team1 float64
KENPOM ADJUSTED DEFENSE Team2 float64
KENPOM ADJUSTED TEMPO Team1 float64
KENPOM ADJUSTED TEMPO Team2 float64
BARTTORVIK ADJUSTED EFFICIENCY Team1 float64
BARTTORVIK ADJUSTED EFFICIENCY Team2 float64
BARTTORVIK ADJUSTED OFFENSE Team1 float64
BARTTORVIK ADJUSTED OFFENSE Team2 float64
BARTTORVIK ADJUSTED DEFENSE Team1 float64
BARTTORVIK ADJUSTED DEFENSE Team2 float64
BARTHAG Team1 float64
BARTHAG Team2 float64
ELITE SOS Team1 float64
ELITE SOS Team2 float64
BARTTORVIK ADJUSTED TEMPO Team1 float64
BARTTORVIK ADJUSTED TEMPO Team2 float64
2PT % Team1 float64
2PT % Team2 float64
3PT % Team1 float64
3PT % Team2 float64
FREE THROW % Team1 float64
FREE THROW % Team2 float64
EFG % Team1 float64
EFG % Team2 float64
FREE THROW RATE Team1 float64
FREE THROW RATE Team2 float64
3PT RATE Team1 float64
3PT RATE Team2 float64
ASSIST % Team1 float64
ASSIST % Team2 float64
OFFENSIVE REBOUND % Team1 float64
OFFENSIVE REBOUND % Team2 float64
DEFENSIVE REBOUND % Team1 float64
DEFENSIVE REBOUND % Team2 float64
BLOCK % Team1 float64
BLOCK % Team2 float64
TURNOVER % Team1 float64
TURNOVER % Team2 float64
2PT % DEFENSE Team1 float64
2PT % DEFENSE Team2 float64
3PT % DEFENSE Team1 float64
3PT % DEFENSE Team2 float64
FREE THROW % DEFENSE Team1 float64
FREE THROW % DEFENSE Team2 float64
EFG % DEFENSE Team1 float64
EFG % DEFENSE Team2 float64
FREE THROW RATE DEFENSE Team1 float64
FREE THROW RATE DEFENSE Team2 float64
3PT RATE DEFENSE Team1 float64
3PT RATE DEFENSE Team2 float64
OP ASSIST % Team1 float64
OP ASSIST % Team2 float64
OP O REB % Team1 float64
OP O REB % Team2 float64
OP D REB % Team1 float64
OP D REB % Team2 float64
BLOCKED % Team1 float64
BLOCKED % Team2 float64
TURNOVER % DEFENSE Team1 float64
TURNOVER % DEFENSE Team2 float64
WINS ABOVE BUBBLE Team1 float64
WINS ABOVE BUBBLE Team2 float64
WIN % Team1 float64
WIN % Team2 float64
POINTS PER POSSESSION OFFENSE Team1 float64
POINTS PER POSSESSION OFFENSE Team2 float64
POINTS PER POSSESSION DEFENSE Team1 float64
POINTS PER POSSESSION DEFENSE Team2 float64
CONF Team1 object
CONF Team2 object
ADJOE Team1 float64
ADJOE Team2 float64
ADJDE Team1 float64
ADJDE Team2 float64
EFG_O Team1 float64
EFG_O Team2 float64
EFG_D Team1 float64
EFG_D Team2 float64
TOR Team1 float64
TOR Team2 float64
TORD Team1 float64
TORD Team2 float64
ORB Team1 float64
ORB Team2 float64
DRB Team1 float64
DRB Team2 float64
FTR Team1 float64
FTR Team2 float64
FTRD Team1 float64
FTRD Team2 float64
2P_O Team1 float64
2P_O Team2 float64
2P_D Team1 float64
2P_D Team2 float64
3P_O Team1 float64
3P_O Team2 float64
3P_D Team1 float64
3P_D Team2 float64
ADJ_T Team1 float64
ADJ_T Team2 float64
WAB Team1 float64
WAB Team2 float64
WIN_RATE Team1 float64
WIN_RATE Team2 float64
Team1int int64
Team2int int64
Conf Team1int int64
Conf Team2int int64

In [44]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object and fit it to the column data
le = LabelEncoder()
le.fit(tournamentGameByGame['winner'])

# Transform the column data to numerical values
tournamentGameByGame['winner_num'] = le.transform(tournamentGameByGame['winner'])
# Print the original and transformed data
tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY Team1,...,ADJ_T Team2,WAB Team1,WAB Team2,WIN_RATE Team1,WIN_RATE Team2,Team1int,Team2int,Conf Team1int,Conf Team2int,winner_num
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,...,64.2,7.8,-8.9,0.805556,0.583333,12,99,21,5,0
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,...,66.8,2.2,1.5,0.685714,0.705882,115,118,1,20,1
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,...,66.5,1.8,0.5,0.705882,0.636364,90,40,17,26,1
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,...,63.9,5.1,-1.4,0.750000,0.766667,125,163,30,22,0
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,...,63.4,4.7,1.0,0.742857,0.818182,114,38,20,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,...,68.8,6.1,9.9,0.722222,0.861111,122,107,21,10,0
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,...,67.0,11.1,6.1,0.921053,0.722222,130,122,1,21,0
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,...,69.3,11.1,6.1,0.921053,0.769231,130,109,1,10,0
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,26.7,...,68.6,7.0,10.7,0.815789,0.820513,7,39,31,21,0
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,...,67.5,11.1,7.0,0.921053,0.815789,130,7,1,31,0

In [45]:
# First attempt at splitting data

# Import necessary libraries
from sklearn.svm import LinearSVR
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

# Generate X and y 
tournamentGameByGame=tournamentGameByGame.dropna(axis=0)
X=tournamentGameByGame.drop(['winner', 'winner_num', 'Team1', 'Team2', 'CONF Team1', 'CONF Team2'], axis=1)
y=tournamentGameByGame['winner_num']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a MinMaxScaler object and fit it to the training data
scaler = MinMaxScaler()
scaler.fit(X_train)

# Scale the training and testing data using the scaler
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a LinearSVR object and fit it to the scaled training data
svm = LinearSVR(random_state=42)
svm.fit(X_train_scaled, y_train)

# Predict the target values for the scaled testing set
y_pred = svm.predict(X_test_scaled)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.11511655243412701

/Users/jacobvogel/opt/anaconda3/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [48]:
X.shape

(257, 116)

In [7]:
#Adding Kenpom Adjusted Efficiency for each team


kenPomAdjEffTeam1 = [];
kenPomAdjEffTeam2 = [];


for i in range(0,len(tournamentGameByGame)):
    teamRowJacob = tournamentGameByGame[tournamentGameByGame['id'] == i]
    team1Name = teamRowJacob.Team1
    #print(team1Name[i])
    team2Name = teamRowJacob.Team2
    year = teamRowJacob.Year
    #print(year[i])
    team1RowJack = prevTournamentStats[((prevTournamentStats['TEAM'] == team1Name[i]) & (prevTournamentStats['YEAR'] == year[i]))]
    team2RowJack = prevTournamentStats[((prevTournamentStats['TEAM'] == team2Name[i]) & (prevTournamentStats['YEAR'] == year[i]))]
    #print()
    
    #team1RowJack = prevTournamentStats.loc(prevTournamentStats['TEAM'])
    kenPomAdjEffTeam1Val = team1RowJack['KENPOM ADJUSTED EFFICIENCY']
    kenPomAdjEffTeam2Val = team2RowJack['KENPOM ADJUSTED EFFICIENCY']
    if(kenPomAdjEffTeam1Val.empty):
        kenPomAdjEffTeam1.append(None)
    else:
        #print(kenPomAdjEffTeam1Val[team1RowJack.index[0]])
        #print('--------------------')
        kenPomAdjEffTeam1.append(kenPomAdjEffTeam1Val[team1RowJack.index[0]])
        
    if(kenPomAdjEffTeam2Val.empty):
        kenPomAdjEffTeam2.append(None)
    else:
        #print(team2Name[i])
        #print(kenPomAdjEffTeam2Val[team2RowJack.index[0]])
        #print('--------------------')
        kenPomAdjEffTeam2.append(kenPomAdjEffTeam2Val[team2RowJack.index[0]])
    
tournamentGameByGame['KENPOM ADJUSTED EFFICIENCY TEAM1'] = kenPomAdjEffTeam1
tournamentGameByGame['KENPOM ADJUSTED EFFICIENCY TEAM2'] = kenPomAdjEffTeam2

tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY TEAM1,KENPOM ADJUSTED EFFICIENCY TEAM2
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,-1.7
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,12.0
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,12.7
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,2.7
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,13.4
...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,27.0
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,26.1
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,23.3
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,26.7,NaN
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,26.7

In [8]:
#Generalizing adding stat columns for all stat columns

statTeam1 = [];
statTeam2 = [];

statColName = 'KENPOM ADJUSTED OFFENSE'


for i in range(0,len(tournamentGameByGame)):
    teamRowJacob = tournamentGameByGame[tournamentGameByGame['id'] == i]
    team1Name = teamRowJacob.Team1
    #print(team1Name[i])
    team2Name = teamRowJacob.Team2
    year = teamRowJacob.Year
    #print(year[i])
    team1RowJack = prevTournamentStats[((prevTournamentStats['TEAM'] == team1Name[i]) & (prevTournamentStats['YEAR'] == year[i]))]
    team2RowJack = prevTournamentStats[((prevTournamentStats['TEAM'] == team2Name[i]) & (prevTournamentStats['YEAR'] == year[i]))]
    #print()
    
    #team1RowJack = prevTournamentStats.loc(prevTournamentStats['TEAM'])
    statTeam1Val = team1RowJack[statColName]
    statTeam2Val = team2RowJack[statColName]
    if(statTeam1Val.empty):
        statTeam1.append(None)
    else:
        #print(kenPomAdjEffTeam1Val[team1RowJack.index[0]])
        #print('--------------------')
        statTeam1.append(statTeam1Val[team1RowJack.index[0]])
        
    if(statTeam2Val.empty):
        statTeam2.append(None)
    else:
        #print(team2Name[i])
        #print(kenPomAdjEffTeam2Val[team2RowJack.index[0]])
        #print('--------------------')
        statTeam2.append(statTeam2Val[team2RowJack.index[0]])
    
tournamentGameByGame[f'{statColName} Team1'] = statTeam1
tournamentGameByGame[f'{statColName} Team2'] = statTeam2

tournamentGameByGame

,Year,Team1,Seed1,Team2,Seed2,Round,spread,winner,id,KENPOM ADJUSTED EFFICIENCY TEAM1,KENPOM ADJUSTED EFFICIENCY TEAM2,KENPOM ADJUSTED OFFENSE Team1,KENPOM ADJUSTED OFFENSE Team2
0,2013,indiana,1,james madison,16,0,21,Team1,0,29.9,-1.7,122.5,99.6
1,2013,nc state,8,temple,9,0,-4,Team2,1,NaN,12.0,NaN,111.5
2,2013,unlv,5,california,12,0,-3,Team2,2,17.2,12.7,106.9,107.4
3,2013,syracuse,4,montana,13,0,47,Team1,3,22.6,2.7,114.5,105.6
4,2013,butler,6,bucknell,11,0,12,Team1,4,14.8,13.4,110.1,107.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2019,purdue,3,tennessee,2,2,5,Team1,436,26.1,27.0,121.1,122.5
437,2019,virginia,1,purdue,3,3,5,Team1,437,35.7,26.1,123.6,121.1
438,2019,virginia,1,auburn,5,4,1,Team1,438,35.7,23.3,123.6,119.6
439,2019,texas tech,3,michigan state,2,4,10,Team1,439,26.7,NaN,112.7,NaN
440,2019,virginia,1,texas tech,3,5,8,Team1,440,35.7,26.7,123.6,112.7